body {
	/* Needed to prevent the nav bar to overtop the body content */
  	padding-top: 70px;
}


/* Home page table */
.table_one_line {
	 white-space: nowrap; 
	 overflow: hidden;
}


/* Notifications */
.badge_notif {
   position:relative;
}
.badge_notif[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:3px;
   right:3px;
   font-size:.7em;
   background:red;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}